<head>
    <title>Shor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body style="background-color: gray;">
    <div>
            <div style="text-align: center;
            background-color: #b7b7b7
            ">
                <div>
                    <h1 style="color: black">SHOR ALGORITHM</h1>
                </div>
                <h5>by Adjie Wahyu Wicaksono</h5>
                <h5>Based on Matthew Hayward's take on Shor Quantum Algorithm</h5>
            </div>
            <div style="background-color: #b7b7b7">
                <div style="text-align: center;
                margin-top: 5px;
                ">
                <div style="margin: 15px">
                    Please input a positive number that is not an even or prime number!
                </div>
                    <input type="number" id="user-input" value="" min="1">
                    <button onclick="sendRequest()">
                        Calculate
                    </button>
                </div>
                <div style="text-align: center;">
                    <div id="outcome">
                        <h3 id="factor"></h3>
                    </div>
                    <div style="height: 1%"></div>
                </div>
            </div>
    </div>
</body>
<footer style="text-align: center">
    <div style="padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b7b7;
    font-weight: 500;
    text-align: center;">
        © Copyright 2019, Adjie Wahyu Wicaksono
    </div>
</footer>

<script>
    function sendRequest(){
        let inputN = $('#user-input').val()
        console.log("CALL FUNCTION!")
        console.log(inputN)
        $.ajax({
            type: 'POST',
            url: "http://localhost:5000/calculate",
            data: JSON.stringify({"inputN": inputN}),
            dataType: 'json',
            contentType: 'application/json',
            success: function(result){
                console.log("SUCCESS")
                console.log(result)

                if(result.f1*result.f2 == inputN && result.f1 != 1 && result.f2 != 1 && result.f1*result.f2 >= 15){
                    $('#factor').text("Factors found! F1: " + result.f1 + " and F2: " + result.f2)
                }
                else if(result.f1 == 2 && result.f2 == 2){
                    $('#factor').text("The generated/inputted number did not satisfy the calculation requirements!")
                }
                else{
                    $('#factor').text("Factors Were Not Found! F1: " + result.f1 + " and F2: " + result.f2)
                }

                console.log("FINISH")
            },
            error: function(result){
                console.log("ERROR")
            }
        })
    }
</script>